<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    {{header}}
    <nav class="top-nav">
        <a href="/#about">About</a>
        <a href="/#games">Games</a>
        <a href="/#contacts">Contact</a>
    </nav>
    <main class="project-content">
        <div class="project-header">
            {{title_block}}
            {{release_block}}
            <div class="store-links">
                {{store_block}}
            </div>
        </div>
        {{description_block}}
        {{media_block}}
    </main>
    <div id="modal" class="modal">
        <span class="modal-close">&times;</span>
        <div class="modal-content">
            <img id="modal-img" src="" alt="">
            <iframe id="modal-video" src="" frameborder="0" allowfullscreen style="display:none"></iframe>
        </div>
    </div>
    <script src="/assets/modal.js"></script>
    {{footer}}
</body>
</html>